name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Docker login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        echo "Iniciando login"
        docker login -u "$DOCKER_USER" -p "$DOCKER_PASSWORD"
        echo "Fin login"

    - name: Build Docker image
      run: |
        docker build -t euyin30/docker-graphql:0.0.2 .
        docker build -t euyin30/docker-graphql:lstest .
        
    - name: Push Docker image
      run: |
        docker push euyin30/docker-graphql:0.0.2
        docker push euyin30/docker-graphql:latest
        
#    - name: Build the Docker image
#      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
